<h1 style="text-decoration: underline">Nueva solicitud.</h1>
<!--	{#{}#}	-->
{{form_start(form, {'action':'', 'method':'POST'})}}
{% block calculo %}
<div class="form_row" style="height:75%;background-color:yellow">
	<h3 style="text-decoration: underline">Datos del solicitante: </h3>
	{{ form_row(form.lugar) }}<br>
	{{ form_row(form.fechas)}}<br>	
	{{ form_row(form.servicios)}}<br>
	<button type="Button">Calcular</button>
	{#<input type="button" value="Calcular"
           class="btn btn-default pull-left" /><br>#}
    {{ form_row(form.importeTotal)}}<br>
	{{ form_row(form.save)}}<br>
</div>
{% endblock calculo%}
{{form_end(form)}}