<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		
		<h1 style="text-decoration: underline">Nueva solicitud.</h1>
		<!--	{#{}#}	-->
		{{form_start(form, {'action':'', 'method':'POST'})}}
		{% block calculo %}
			<div class="form_row" style="height:75%;background-color:yellow">
				<h3 style="text-decoration: underline">Datos del solicitante: </h3>
				{{ form_row(form.lugar) }}<br>
{# --- #}
		{# Se elimina de la entidad ---------------------------------------------------------------------------

			{{ form_row(form.fechas)}}<br>

		   ---------------------------------------------------------------------------------------------------- #}

		{# Se elimina de la entidad ---------------------------------------------------------------------------

		{# Con esto añadiremos el subform de fechas tantas veces como haga falta 
				<script type=&quot;text/javascript&quot;>
					
					var pics = <?php print_r($form['duraciones']->count())?>;

					function addDur(num) {
					  var r = $.ajax({
					    type: 'GET',
					    url: '<?php echo url_for('formulario_duracion')?>'+'<?php echo ($form->getObject()->isNew()?'':'?id='.$form->getObject()->getId()).($form->getObject()->isNew()?'?num=':'&amp;num=')?>'+num,
					    async: false
					  }).responseText;
					  return r;
					}
					$().ready(function() {
					  $('button#add_duracion').click(function() {
					    $(&quot;#extraduraciones&quot;).append(addDur(durs));
					    dur = dur + 1;
					  });
					});
				</script>
				<?php echo $form ?>
				<div id="extraduraciones"/>
				<tr>
					<td>
						<div>
							<button id="add_duracion" type="button">
								<?php echo "Añadir otra fecha"?>
							</button>
						</div>
					</td>
				</tr>

		   ---------------------------------------------------------------------------------------------------- #}
{# --- #}
			{% block duracion %}
				{{form_start(form2, {'action':'', 'method':'POST'})}}
					<div  style="height:75%;background-color:pink">
						<div class="duracion">
							<p class="fechas_test">
								<br>
									{{ form_row(form2.dia) }}<br>
									{{ form_row(form2.desde)}}<br>	
									{{ form_row(form2.hasta)}}<br>
								<br>
							</p>
						</div>
						<div class="button">
							<input type="button" value="Mas fechas" id="num_fechas" name="num_fechas"/>
						</div>

						<script type="text/javascript">
						    var fechas_count =0;
						    $('#duracion').on("click", ".fechas_test" function(){
						    	$(this).after(
						    		"<div class=\"duracion\" style=\"height:75%;background-color:pink\"><br>{{ form_row(form2.dia) }}<br>{{ form_row(form2.desde)}}<br>{{ form_row(form2.hasta)}}<br></div>")
						    });
						</script>
					</div>
				{{form_end(form2)}}
			{% endblock duracion %}
			{{form_row(form.servicios)}}
			{{form_row(form.importeTotal)}}
			{{form_row(form.save)}}
			{{form_end(form)}}
		{% endblock calculo %}
	</body>
</html>