<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
		$(document).ready(function nuevo_dia(){
		    $("button").click(function(){
		    	$("div#duracion").append($("a:first").clone(true));
		    });
		});
		</script>
	</head>
	<body>
		
		<h1 style="text-decoration: underline">Nueva solicitud.</h1>
		<!--	{#{}#}	-->
		{{form_start(form, {'action':'', 'method':'POST'})}} <!-- {'action':'', 'method':'POST'} -->
		{% block calculo %}
			<div class="form_row" style="height:75%;background-color:yellow">
				<h3 style="text-decoration: underline">Datos del solicitante: </h3>
				{{ form_row(form.lugar) }}<br>
			{% block duracion %}
				<div id="duracion" style="height:50%;width: 20%;background-color:violet;border-style: dotted">
						<button onclick="nuevo_dia()">Añadir nuevo día</button>
						<br>
						<a style="border-style: solid ">
							{{form_start(form2, {'attr':{'novalidate':'novalidate'}})}}
								{{ form_row(form2.dia) }}<br>
								{{ form_row(form2.desde)}}<br>	
								{{ form_row(form2.hasta)}}<br>
							{{form_end(form2)}}
						</a>
				</div>
			{% endblock duracion %}
			{{form_row(form.servicios)}}
			{{form_row(form.importeTotal)}}
			{#{form_row(form.save)}#}
			{{form_end(form)}}
		{% endblock calculo %}
	</body>
</html>