<!DOCTYPE html>
<html>
<!--	{#{}#}	-->
	<head>
		<title>
			Cálculo de presupuesto.
		</title>
		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
		$().ready(function(){
		    $("button.duracion").click(function(){
		    	$("a3").append($("a1:first").clone(true));
		    });
		});
		</script-->
	</head>
	<body>
<!--	{#{}#}	-->
	<!--	{#{}#}	-->
		<h1 style="text-decoration: underline">Nueva solicitud.</h1>
		<!--	{#{}#}	-->
		{{form_start(form, {'action':'', 'method':'POST'})}} <!-- {'action':'', 'method':'POST'} -->
		{% block calculo %}
			<div class="form_row" style="height:75%;background-color:yellow">
				<h3 style="text-decoration: underline">Datos de la solicitud: </h3>
				{{ form_row(form.lugar) }}<br>
	<!--	{#{}#}	-->
			{% block duracion %}
				<div style="height:50%;width: 20%;background-color:violet;border-style: dotted">
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
					<script>
						$().ready(function(){
						    $("button.duracion").click(function(){
						    	event.preventDefault();
						    	$("a3").append($("a1:first").clone(true));
						    });
						});
					</script>
					<button class="duracion">Añadir nuevo día</button>
					<a3>	
						<a1  style="width: 100%; height:100%;background-color:pink">
							{{form_start(form2, {'action':'', 'method':'POST'})}}
							<!-- {'attr': {'novalidate': 'novalidate'}} -->
							<!-- {'action':'', 'method':'POST'} -->
								{{ form_row(form2.dia) }}<br>
								{{ form_row(form2.desde)}}<br>	
								{{ form_row(form2.hasta)}}<br>
							{{form_end(form2)}}
						</a1>
					</a3>
					<button class="duracion">Añadir nuevo día</button>
				</div>
			{% endblock duracion %}
<!--	{#{}#}	-->
	<!--	{#{}#}	-->
		<!--	{#{}#}	-->
			{{form_row(form.servicios)}}
			{{form_row(form.importeTotal)}}
			{#{form_row(form.save)}#}
			{{form_end(form)}}
		{% endblock calculo %}
		<button class="validar" type="submit">Validar</button>
		<p id="text-output" style="height:20%;width: 20%;background-color:violet;border-style: dotted">
			El importe introducido es: 
		</p>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script>
	        // Attach an event for when the user submits the form
			

			$('form').on('submit', function(event) {
	            // Prevent the page from reloading
	            event.preventDefault();
	            event.preventDefault();

				// Set the text-output span to the value of the first input
				var $input = $(this).find('select .formulariobundle_calculo_lugar');
				var $tmp = $input.find('optgroup');
				var input = $tmp.val();
/*					function() {
						tmp = $("#formulariobundle_calculo_lugar option:selected").text();
						alert(tmp);
					}
				);
*/
				$('#text-output').text("El importe introducido es: " + input);
			});
			var answer = $("#answer").val();
		</script><!--
		<script type="text/javascript">
			$(".formulariobundle_calculo_lugar").val(function() {
				tmp = $("#formulariobundle_calculo_lugar option:selected").text();
				$('#text-output').text(tmp);
			});
		</script>-->
	</body>
<!--	{#{}#}	-->
</html>