<h1>Nueva solicitud.</h1>
<!--

	{#{}#}

-->
{{form_start(form, {'action':'', 'method':'POST'})}}
{% block form_row %}
<div class="form_row" style="width:25%;height:30%;background-color:orange">
	{{ form_row(form.nombreSolicitante) }}<br>
	{{ form_row(form.apellido1Solicitante)}}<br>	
	{{ form_row(form.apellido2Solicitante)}}<br>
	{{ form_row(form.telefonoSolicitante)}}<br>
	{{ form_row(form.emailSolicitante)}}<br>
</div>
{% endblock form_row%}

{% block form_row2 %}
<div class="form_row" style="width:25%;height:20%;background-color:pink">
	{{ form_row(form.lugarEvento)}}
	{{ form_row(form.desde)}}	
	{{ form_row(form.hasta)}}
</div>
{% endblock form_row2 %}



{% block form_row4 %}
<div class="form_row" style="width:25%;height:40%;;background-color:#58FA82">

			{% block form_row3 %}
			<div class="form_row" style="width:75%;height:40%;background-color:cyan">
				<tr>{{ form_row(form.serviciosContratados)}}<br>
			</div>
			{% endblock form_row3 %}
	{{ form_row(form.importeTotal)}}<br>
	{{ form_row(form.save)}}<br>
</div>
{% endblock form_row4 %}

{#

{% form_theme form _self %}

{% block _nombre_solicitante_row %}
    <div class="nombre_solicitante_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{{ form_row(form.nombreSolicitante) }}
#}
{{form_end(form)}}