<h1 style="text-decoration: underline">Nueva solicitud.</h1>
<!--	{#{}#}	-->
{{form_start(form, {'action':'', 'method':'POST'})}}
<!--	Datos solicitante	-->
{% block solicitante %}
<div class="form_row" style="width:25%;height:30%;background-color:orange">
	<h3 style="text-decoration: underline">Datos del solicitante: </h3>
	{{ form_row(form.nombreSolicitante) }}<br>
	{{ form_row(form.apellido1Solicitante)}}<br>	
	{{ form_row(form.apellido2Solicitante)}}<br>
	{{ form_row(form.telefonoSolicitante)}}<br>
	{{ form_row(form.emailSolicitante)}}<br>
</div>
{% endblock solicitante%}
<!--	Facturacion	-->
{% block facturacion %}
<div class="form_row" style="width:25%;height:40%;background-color:grey">
	<h3 style="text-decoration: underline">Datos de facturación: </h3><br>
	<b1 style="font-size:15px;">No es obligatorio, pero si desea factura deberá rellenar correctamente todos los campos</b1><br>
	{{ form_row(form.empresa) }}<br>
	{{ form_row(form.cifNif)}}<br>	
	{{ form_row(form.telefono)}}<br>
	{{ form_row(form.email)}}<br>
	{{ form_row(form.contacto)}}<br>
</div>
{% endblock facturacion%}
<!--	Datos del evento	-->
{% block evento %}
<div class="form_row" style="width:25%;height:25%;background-color:pink">
	<h3>Datos del evento: </h3>
	{{ form_row(form.lugarEvento)}}
	{{ form_row(form.desde)}}	
	{{ form_row(form.hasta)}}
</div>
{% endblock evento %}
{% block detalle_servicio %}
<div class="form_row" style="width:25%;height:30%;background-color:#58FA82">
	<h3 style="text-decoration: underline"> Servicios disponibles: </h3>
		{% block servicios %}
			<div class="form_row" style="width:75%;height:55%;background-color:cyan">
			<!--
				<h3>Servicios</h3>
			    <ul class="Servicios">
			        {# iterate over each existing tag and render its only field: name #}
{#			        {% for serviciosContratado in form.serviciosContratados %}
			            <li>{{ form_row(Solicitud.serviciosContratados) }}</li>
			        {% endfor %}
			    </ul>
#}			-->
			{{ form_row(form.serviciosContratados)}}<br>
			</div>
		{% endblock servicios %}
	{{ form_row(form.importeTotal)}}<br>
	{{ form_row(form.save)}}<br>
</div>
{% endblock detalle_servicio %}
{{form_end(form)}}