{% extends 'layout.html.twig' %}
{% block body %}

<h1><font style="background-color:#4A235A;" color='white'>Datos de facturacion: </font></h1></br>
<table width="90%" border="1px">
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>CIF / NIF:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
            <td><font color='white'>Contacto:</font></td>
        </tr>
        {%  for facturacion in facturaciones %}
        <tr bgcolor=#000000>
            <td><font color='pink'>
                {{ facturacion.id }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.nombreEmpresa }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.cIFNIF }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.tlfEmpresa }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.emailEmpresa }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.usrContacto }}
            </font></td>
        </tr>
        {% endfor %} 
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>CIF / NIF:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
            <td><font color='white'>Contacto:</font></td>
        </tr>
</table>
<a href="{{ path('formulario_index') }}"><h1>INDEX</h1></a>
{% endblock %}