<h1><font style="background-color:#4A235A;" color='white'>Solicitantes: </font></h1></br>

<table width="90%" border="">
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Nombre:</font></td>
            <td><font color='white'>Primer apellido:</font></td>
            <td><font color='white'>Segundo Apellido:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
        </tr>
        {%  for solicitante in solicitantes %}
			<tr bgcolor=#000000>
	            <td><font color='pink'>
	                {{ solicitante.id }}
	            </font></td>
	            <td><font color='pink'>
	                {{ solicitante.nombresolicitante }}
	            </font></td>
	            <td><font color='pink'>
	                {{ solicitante.apellido1Solicitante }}
	            </font></td>
	            <td><font color='pink'>
	                {{ solicitante.apellido2Solicitante }}
	            </font></td>
	            <td><font color='pink'>
	                {{ solicitante.telfSolicitante }}
	            </font></td>
	            <td><font color='pink'>
	                {{ solicitante.emailSolicitante }}
	            </font></td>
	        </tr>
    	{% endfor %} 
        
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Nombre:</font></td>
            <td><font color='white'>Primer apellido:</font></td>
            <td><font color='white'>Segundo Apellido:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
        </tr>
</table>