<h2> Mezcla: </h2>

<table width="90%" border="">
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id solicitud:</font></td>
            <td><font color='white'>Solicitante:</font></td>
            <td><font color='white'>CIF/NIF Factura:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>Campus:</font></td>
            <td><font color='white'>Aula:</font></td>
            <td><font color='white'>Listado de servicios:</font></td>
            <td><font color='white'>Total c/iva:</font></td>
            <td><font color='white'>Total s/iva:</font></td>
            <td><font color='white'>Acciones:</font></td>
        </tr>
        {%  for solicitud in solicitudes %}
			<tr BGCOLOR=#000000>
	            <td><font color='pink'> {{ solicitud.id }} </font></td> 
	            
	            <td><font color='pink'> 
					{% for solicitante in solicitantes %}
						{% if solicitante.id == solicitud.idSolicitante %}
							{{ solicitante.nombre }}
						{% endif %}
					{% endfor %}
	            </font></td> 
	            <td><font color='pink'>{#
	            	{% for facturacion in facturaciones %}
						{% if facturacion.CIFNIF == solicitud.CIFNIFFactura %}
							{{ facturacion.NombreEmpresa }}
						{% endif %}
					{% endfor %}
	            </font></td>
	            <td><font color='pink'>
	            	{% for lugar in lugares %}
						{% if lugar.id == solicitud.IdLugar %}
								{{ lugar.Campus }}
							</font></td>
							<td><font color='pink'>
								{{ lugar.Aula }}
							
						{% endif %}
					{% endfor %}
				</font></td>
	            <td><font color='pink'>
	            	{% for SerSolicitado in SerSolicitados %}
						{% if SerSolicitados.IdSolicitudes == solicitud.Id %}
							{% for servicio in servicios %}
								{% if servicio.Id == SerSolicitado.IdServicio %
									{{ servicio.NombreServicio }}
									</br>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
	            </font></td>
	            
	            <td><font color='pink'> {{ solicitud.TotalCiva }} </font></td>
	            <td><font color='pink'> {{ solicitud.TotalSiva }} </font></td>
	           #}
	            <td><font color='pink'>
	            	<a href="#">Add</a>
	            	<a href="#">Edit</a>
	            	<a href="#">View</a>
	            	<a href="#">Delete</a>
	            </font></td>
	        </tr>
    	{% endfor %} 
        
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id solicitud:</font></td>
            <td><font color='white'>Solicitante:</font></td>
            <td><font color='white'>CIF/NIF Factura:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>Campus:</font></td>
            <td><font color='white'>Aula:</font></td>
            <td><font color='white'>Listado de solicitudes:</font></td>
            <td><font color='white'>Total c/iva:</font></td>
            <td><font color='white'>Total s/iva:</font></td>
            <td><font color='white'>Total s/iva:</font></td>
        </tr>
</table>