{% extends 'layout.html.twig' %}
{% block body %}
<a href="{{ path('formulario_index') }}"><h2>INDEX</h2></a></br>

<h1>Datos de facturación:</h1></br>
<table width="90%" border="1px">
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>CIF / NIF:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
            <td><font color='white'>Contacto:</font></td>
        </tr>
        {%  for facturacion in facturaciones %}
        <tr bgcolor=#000000>
            <td><font color='pink'>
                {{ facturacion.id }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.nombreEmpresa }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.cIFNIF }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.tlfEmpresa }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.emailEmpresa }}
            </font></td>
            <td><font color='pink'>
                {{ facturacion.usrContacto }}
            </font></td>
        </tr>
        {% endfor %} 
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>CIF / NIF:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
            <td><font color='white'>Contacto:</font></td>
        </tr>
</table>
</br>

<h1>Lugares disponibles:</h1></br>
<table width="90%" border="1px">
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Campus:</font></td>
            <td><font color='white'>Aula:</font></td>
        </tr>
        {%  for lugar in lugares %}
            <tr bgcolor=#000000>
                <td><font color='pink'>
                    {{ lugar.id }}
                </font></td>
                <td><font color='pink'>
                    {{ lugar.campus }}
                </font></td>
                <td><font color='pink'>
                    {{ lugar.aula }}
                </font></td>
            </tr>
        {% endfor %} 
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Campus:</font></td>
            <td><font color='white'>Aula:</font></td>
        </tr>
</table></br>

<h1>Servicios disponibles:</h1></br>
<table width="90%" border="1px">
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Servicio:</font></td>
            <td><font color='white'>Importe:</font></td>
        </tr>
        {%  for servicio in servicios %}
            <tr bgcolor=#000000>
                <td><font color='pink'>
                    {{ servicio.id }}
                </font></td>
                <td><font color='pink'>
                    {{ servicio.nombreServicio }}
                </font></td>
                <td><font color='pink'>
                    {{ servicio.importeServicio }}
                </font></td>
            </tr>
        {% endfor %} 
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Servicio:</font></td>
            <td><font color='white'>Importe:</font></td>
        </tr>
</table></br>

<h1>Servicios solicitados:</h1></br>
<table width="90%" border="1px">
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Num. Solicitud:</font></td>
            <td><font color='white'>Num. Servicio:</font></td>
            <td><font color='white'>Importe</font></td>
        </tr>
        {%  for serSolicitado in serSolicitados %}
        <tr bgcolor=#000000>
            <td><font color='pink'>
                {{ serSolicitado.id }}
            </font></td>
            <td><font color='pink'>
                {{ serSolicitado.idSolicitudes }}
            </font></td>
            <td><font color='pink'>
                {{ serSolicitado.idServicio }}
            </font></td>
            <td><font color='pink'>
                {{ serSolicitado.importeServicio }}
                €
            </font></td>
        </tr>
        {% endfor %} 
        <tr bgcolor=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Num. Solicitud:</font></td>
            <td><font color='white'>Num. Servicio:</font></td>
            <td><font color='white'>Importe</font></td>
        </tr>
</table></br>

<h1>Solicitantes:</h1></br>
<table width="90%" border="">
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Nombre:</font></td>
            <td><font color='white'>Primer apellido:</font></td>
            <td><font color='white'>Segundo Apellido:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
        </tr>
        {%  for solicitante in solicitantes %}
            <tr bgcolor=#000000>
                <td><font color='pink'>
                    {{ solicitante.id }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitante.nombresolicitante }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitante.apellido1Solicitante }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitante.apellido2Solicitante }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitante.telfSolicitante }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitante.emailSolicitante }}
                </font></td>
            </tr>
        {% endfor %} 
        
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Nombre:</font></td>
            <td><font color='white'>Primer apellido:</font></td>
            <td><font color='white'>Segundo Apellido:</font></td>
            <td><font color='white'>Telf.:</font></td>
            <td><font color='white'>E-mail:</font></td>
        </tr>
</table></br>

<h1>Solicitudes realizadas:</h1></br>
<table width="90%" border="">
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Num. solicitante:</font></td>
            <td><font color='white'>CIF/NIF Factura:</font></td>
            <td><font color='white'>Id lugar:</font></td>
            <td><font color='white'>Total c/iva:</font></td>
            <td><font color='white'>Total s/iva:</font></td>
        </tr>
        {%  for solicitud in solicitudes %}
            <tr bgcolor=#000000>
                <td><font color='pink'>
                    {{ solicitud.id }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitud.idSolicitante }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitud.CIFNIFFactura }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitud.idLugar }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitud.totalCiva }}
                </font></td>
                <td><font color='pink'>
                    {{ solicitud.totalSiva }}
            </tr>
        {% endfor %} 
        
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id:</font></td>
            <td><font color='white'>Num. solicitante:</font></td>
            <td><font color='white'>CIF/NIF Factura:</font></td>
            <td><font color='white'>Id lugar:</font></td>
            <td><font color='white'>Total c/iva:</font></td>
            <td><font color='white'>Total s/iva:</font></td>
        </tr>
</table></br>

<a href="{{ path('formulario_index') }}"><h1>INDEX</h1></a>
{% endblock %}