{% extends 'layout.html.twig' %}
{% block body %}
<h1> Mezcla: </h1>

<table width="90%" border="">
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id solicitud:</font></td>
            <td><font color='white'>Solicitante:</font></td>
            <td><font color='white'>CIF/NIF Factura:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>Campus:</font></td>
            <td><font color='white'>Aula:</font></td>
            <td><font color='white'>Listado de servicios:</font></td>
            <td><font color='white'>Total c/iva:</font></td>
            <td><font color='white'>Total s/iva:</font></td>
        </tr>
        {%  for solicitud in solicitudes %}
			<tr BGCOLOR=#000000>
	            <td><font color='pink'> {{ solicitud.id }} </font></td> 
	            
	            <td><font color='pink'> 
					{% for solicitante in solicitantes %}
						{% if solicitante.id == solicitud.idSolicitante %}
							{{ solicitante.nombreSolicitante }}
						{% endif %}
					{% endfor %}
	            </font></td> 
	             <td><font color='pink'> {{ solicitud.CIFNIFFactura }} </font></td>
	            <td><font color='pink'>
	            	{% for facturacion in facturaciones %}
						{% if facturacion.CIFNIF == solicitud.CIFNIFFactura %}
							{{ facturacion.NombreEmpresa }}
						{% endif %}
					{% endfor %}
	            </font></td>
	            <td><font color='pink'> Campus
	            	{% for lugar in lugares %}
						{% if lugar.id == solicitud.IdLugar %}
								{{ lugar.Campus }}
							</font></td>
							<td><font color='pink'> 
								{{ lugar.Aula }}
						{% endif %}
					{% endfor %}
				</font></td>
	            <td><font color='pink'> Lista
	            	{% for serSolicitado in serSolicitados %}
						{% if serSolicitado.idSolicitudes == solicitud.Id %}
							{% for servicio in servicios %}
								{% if servicio.Id == serSolicitado.IdServicio %}
									{{ servicio.NombreServicio }}
									</br>
								{% endif %}
							{% endfor %} 
						{% endif %}
					{% endfor %}
	            </font></td>
	            
	            <td><font color='pink'> {{ solicitud.TotalCiva }}€ </font></td>
	            <td><font color='pink'> {{ solicitud.TotalSiva }}€ </font></td>

	        </tr>
    	{% endfor %} 
        
        <tr BGCOLOR=#4A235A>
            <td><font color='white'>Id solicitud:</font></td>
            <td><font color='white'>Solicitante:</font></td>
            <td><font color='white'>CIF/NIF Factura:</font></td>
            <td><font color='white'>Empresa:</font></td>
            <td><font color='white'>Campus:</font></td>
            <td><font color='white'>Aula:</font></td>
            <td><font color='white'>Listado de solicitudes:</font></td>
            <td><font color='white'>Total c/iva:</font></td>
            <td><font color='white'>Total s/iva:</font></td>
        </tr>
</table></br>

<a href="{{ path('formulario_index') }}"><h2>INDEX</h2></a>

{% endblock %}